.signout-button {
  padding: 0.75rem 1.25rem; // Comfortable padding
  border-radius: 4px; // Rounded corners for consistency with other buttons
  font-size: 0.9rem; // Smaller font size for a polished look
  border: none;
  background-color: #1D366F; // Accent color for the background
  color: #FFFFFF; // White text color for contrast
  transition: background-color 0.3s, color 0.3s; // Smooth transition effects

  &:hover {
      cursor: pointer;
      background-color: #08C076; // Primary color for hover
      color: #FFFFFF; // Ensure text remains white on hover
  }

  &:focus {
      outline: none; // Remove default focus outline
      box-shadow: 0 0 0 2px rgba(8, 192, 118, 0.5); // Subtle focus ring
  }
}
